{% extends '::base.html.twig' %}

{% block title %}Computer edit{% endblock %}

{% block body -%}
    {{ form(edit_form) }}

    <ul class="record_actions list-unstyled">
        <li>
            <a class="btn btn-default" href="{{ path('computer') }}">
                Back to the list
            </a>
        </li>
        <li>
        {{ form(delete_form) }}
        </li>
    </ul>
{% endblock %}
