{% extends '::base.html.twig' %}

{% block title %}Ip creation{% endblock %}

{% block body -%}
    <div class="container">
        {{ form(form) }}
        <hr>
        <a class="btn btn-success" href="{{ path('ip') }}">
            <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span> Back to the list
        </a>
    </div>
{% endblock %}
