{% extends '::base.html.twig' %}

{% block title %}Ip creation{% endblock %}

{% block body -%}
    {{ form(form) }}

    <ul class="record_actions list-unstyled">
        <li>
            <a class="btn btn-success" href="{{ path('ip') }}">
                <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span> Back to the list
            </a>
        </li>
    </ul>
{% endblock %}
